<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=320">
    <title>Privacy Policy</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png"/>
    <link rel="icon" href="http://res.cloudinary.com/whaangbuu/image/upload/v1447916187/favicon_qs9fj0.ico"/>
    <!--  Android 5 Chrome Color -->
    <meta name="theme-color" content="#EE6E73"/>
    <!-- CSS  -->
    <link href="css/material-icons.css" rel="stylesheet">
    <link href="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/css/prism.css" rel="stylesheet"/>
    <link href="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/inconsolata.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/tandc.css">
</head>
<body>

<div class="header-logo-card">
    <div class="valign-wrapper row">
        <div class="col">
            <img src="images/guia-inline.png" class="responsive-img">
        </div>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Privacy Policy</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>Guia is committed to maintaining your privacy. Guia gathers certain types of information about you as part of our operations. This Privacy Policy explains the types of information we gather, what we do with it and how you may correct or change that information.</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Information Collected by Guia</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>Guia collects two types of information about you - personal information (such as name and e-mail address) and aggregate information (such as information about how many users visit our site).</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Personal Information</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>When you voluntarily register an account with us through login with facebook facility Guia provides, you will transfer personal information to us, such as your name, address, date of birth, phone number and e-mail address, information relating to booked activities and other data needed to provide services to you. By registering your account, you provide consent for us to send you messages and documents through electronic means. We will only require the minimum personal information we need and use it only to provide the services you have requested.</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Message Conversations Sent</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>Guia provides a method for Traveler to Guide communication and vice-versa on our system. We may monitor these messages for the purpose of ensuring that you are properly served by our guides and to ensure compliance with the terms and conditions of Guia.</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Information used for statistical and similar purposes</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>We may collect aggregate information about overall user's activities online such as the number of unique visitors, tours created and booked, reviews and ratings given. </p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>We use this information for statistical purposes, to improve your experience on the Application, to make it easier to use, to better tailor it to your interests and needs, or to speed up your future activities and experience. We use this information anonymously and in the aggregate.</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Links to Third Parties</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>This site may contain links to sites other than our own and those sites may not follow the same privacy policies as Guia. If you visit other sites by clicking on a link from our site, you should determine their privacy policies before using their information or services.</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Correcting and Updating Information</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>Guia provides you with the ability to change and modify information previously provided. </p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Storage time</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>We store personal information for as long as reasonably required for its purpose. Account information is deleted when you or when we delete your account. We may store information longer for legitimate business reasons (for example, personal information may remain in backups for a reasonable period of time), or as legally required.</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <h5 class="guia-color">Additional Information</h5>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>No one can guarantee that transmission of data over the Internet is completely secure. It may be possible for third parties to unlawfully intercept or access transmissions or private communication. While we strive to protect your personal information, Guia cannot warrant the security of any information you transmit to us and we shall not be liable for any special, incidental or consequential damages you may suffer in the event that your transmission of data was intercepted.</p>
    </div>
</div>

<div class="content-body">
    <div class="left-align">
        <p>Guia reserves the right to change this Privacy Policy at any time. Any such changes will be posted online.</p>
    </div>
</div>

<div class="content-footer">
    <div class="left-align">
        <p>Please contact us via e-mail at guiaphapp@gmail.com if you have any questions or concerns about our Privacy Policy. </p>
    </div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/js/jquery.timeago.min.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/js/prism.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/bin/materialize.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/js/init.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="/public/app/app.index.js"></script>
<script src="/public/app/controllers/Subscriber.js"></script>
<script src="/public/app/services/subscriberService.js"></script>

</body>
</html>