<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=320">
    <title>Terms of Service</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png"/>
    <link rel="icon" href="http://res.cloudinary.com/whaangbuu/image/upload/v1447916187/favicon_qs9fj0.ico"/>
    <!--  Android 5 Chrome Color -->
    <meta name="theme-color" content="#EE6E73"/>
    <!-- CSS  -->
    <link href="css/material-icons.css" rel="stylesheet">
    <link href="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/css/prism.css" rel="stylesheet"/>
    <link href="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/inconsolata.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/tandc.css">
</head>
<body>
    
    <div class="header-logo-card">
        <div class="valign-wrapper row">
            <div class="col">
                <img src="images/guia-inline.png" class="responsive-img">
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Term and Conditions</h5>
            <p>Guia Customer Terms and Conditions<br>Creates December 15, 2015</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>This Agreement sets forth the terms and conditions between Guia and users who use our services to book(‘Traveler’) individuals who provide tours and travel related services ("Tour Guides"). This Agreement explains how users create, book and purchase tours and travel services and specifically limits the liability of Guia.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>You must read this Agreement before using the Application and booking a Tour. Use of the Application constitutes an agreement to all terms and conditions in this Agreement and you warrant that you understand, agree to and accept all terms and conditions contained here.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>1. <span class="guia-color">General</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia connects Travelers with Tour Guides who are seeking to provide tours and travel related services. Guia is an online booking portal that enables the traveler to search guide through series of guide curation filters, the location, gender, and preferences, which is a communications and payment processing system that enables the connection between Travelers and the Tour Guides.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>You understand that the Tour Guides presented on the Application are independent contractors and that the Tour Guides are not employees or agents of Guia. You hereby understand and expressly agree that Guia does not control the quality, timing, legality or any other aspect whatsoever of the services actually delivered by the Tour Guides, nor of the integrity, responsibility or any of the actions whatsoever of the Tour Guides.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia uses its best efforts to monitor Tour Guide and Traveler profiles, tour offerings, actions, reviews and ratings, and suspend privileges to any Tour Guide or Traveler not adhering to policies of Guia. By using this Application, you agree to report any alleged improprieties of any user to Guia immediately.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>2. <span class="guia-color">Transactions</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>You may seek the services of a Tour Guide through the use of the Application. Upon booking Traveler has two payment options, (Advance Full Payment)to pay full tour rate plus the service charge (5% of tour rates below Php 500.00 or 10% of tour rates greater than or equal to Php 500.00) or (On-Tour Payment) pay the service charge alone online and hand-in tour rate to the tour guide on the day of the tour. Once a Tour Guide has accepted the travelers request for service and payment has been processed, there is a binding contract between the Traveler and the Tour Guide. Once purchased a tour or travel service, if there are any issues relating to the service that cannot be resolved directly with the Tour Guide and vice versa, One should contact Guia and we will attempt to resolve the issue.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia uses a third party service to process your credit card information. You hereby agree to hold Guia harmless for any damages that may result should any personal information about You be released by any third parties.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>3. <span class="guia-color">Points and Rewards</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Traveler gain points (5% of tour rate) for every booked and completed tour. Points are acquired only upon the completion of the booked tour; occurred tours are considered completed only after providing guide rating and reviews. Travelers with uncompleted tours are prohibited to book another tour. This probation enables Guia to monitor Guides’ performance and select excellent tour as possible reward.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>4. <span class="guia-color">Refunds</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>In cancellation by Traveler, Guia will determine the refund due as follows:</p>
            <p><span class="guia-color">•</span>  <span>Cancellation paid in full including service charge (Advance Full Payment) due to personal reason, weather or other circumstance: full tour rate refund(excluding service charge);</span></p>
             <p><span class="guia-color">•</span> <span>Cancellation with only service charge paid (On-Tour Payment): no refund;<span></p>
             <p></p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia is not responsible for some cases where the Tour Guide cancel a tour due to weather or other circumstance. Guia will provide messaging platform for traveler to guide communication upon booking, as so in the event that the Tour Guide cancels the tour, or does not deliver it as indicated, both parties may choose between rescheduling the tour OR guide replacement through the guide suggestion outside the capacity of the application, thus leaving Guia with no responsibility nor credible of any expenses that may occur.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia is not responsible for any incidental expenses may have incurred in reliance on the tour or travel services booked on the Application, including, without limitation, expenses arising from the purchase of visas, vaccinations, non-refundable flights, or of any loss of enjoyment. </p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>5. <span class="guia-color">Risk Acceptance</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>You acknowledge that all travel involves an element of risk and that some tours offered on the Application may be adventurous in nature and may involve a significant amount of personal risk. You hereby assume all such risk and You, your estate, your family, heirs and assigns hereby release Guia and the Tour Guide from all claims and causes of action whatsoever arising from any injury, death or other damages, both financial and non-financial, that may occur as a result of your participation in the tours offered on the Application or as a result of the negligence of any party, including the Tour Guide or any employee, officer, agent, contractor or assign of Guia, whether such negligence is passive or active.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>You are strongly encouraged to obtain suitable medical insurance prior to booking a tour.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>We urge you to exercise caution if you purchase any goods during your tour. Neither Guia nor the Tour Guide make any claims about the quality, source or other origin of any goods which may be available for purchase.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>6. <span class="guia-color">Prohibit Use</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>The Application may not be used to recruit, solicit, or contact Tour Guides for employment or contracting for a business not affiliated with Guia unless you first obtain express written permission from Guia.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>7. <span class="guia-color">Information Provided by You</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>You are responsible for providing accurate, timely and complete information in connection with Your registration for and use of the Appication. Guia is not responsible for any claims relating to any inaccurate, untimely or incomplete information provided to us by You.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia will only use your information in accordance with our Privacy Policy. Guia will use its best efforts to ensure the privacy of all other personal information, however we expressly disclaim any liability for any damage that may result should any information be released to any third parties. You hereby agree to hold Guia harmless for any damages that may result.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia uses a third party service to process your credit card information, therefore we have no access to your credit card information. For further information, please contact Guia' credit card processing company www.PayPal.com.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>8. <span class="guia-color">Term of Agreement</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>This Agreement will become effective immediately upon your use of the Application and shall remain effective unless terminated by either party as provided here. Either party may terminate this Agreement by providing the other with written or email notice of such termination which shall be effective immediately upon delivery of such notice to the other party. Furthermore, Guia may terminate this Agreement immediately for any breach by You of this Agreement or any applicable policy of Guia as posted on the Application/Site from time to time.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Should You violate the terms of this Agreement, Guia reserves the right, without prejudice to any other rights or remedies available to Guia, to terminate your use of this Application immediately at its sole discretion.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>9. <span class="guia-color">Intellectual Property Rights</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>All text, graphics, editorial content, data, formatting, graphs, designs, HTML, look and feel, photographs, sounds, images, software, designs, typefaces and other content that You see or read on the Application is owned by Guia, or is used with the owner’s permission. This Material is protected in all forms, media and technologies. You may not copy, download, use redesign, reconfigure, or retransmit anything from the Application without the prior written permission of Guia.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>10. <span class="guia-color">Notice of Trademark Rights</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>The service marks and trademarks Guia and the Guia logo are service marks owned by Guia. Any other trademarks, service marks, logos and/or trade names appearing on the Application are the property of their respective owners. You may not copy or use any of these marks, logos or trade names without the prior written permission of Guia or the applicable owner.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>11. <span class="guia-color">Privacy</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia is committed to ensuring the privacy of the information you give us. Our Privacy Statement is located on the Guia Site (guia.com.ph) or on the document provided by the app installed.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>12. <span class="guia-color">Disclaimer of Warranties</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>YOU EXPRESSLY AGREE THAT THE USE OF THIS APPLICATION IS AT YOUR SOLE RISK. GUIA DOES NOT WARRANT THAT THE APPLICATION WILL BE UNINTERRUPTED OR ERROR-FREE; NOR DO WE MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE APPLICATION, OR AS TO THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION OR SERVICES PROVIDED THROUGH THE APPLICATION. THE APPLICATION IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTIBILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5>13. <span class="guia-color">Limitation of Liability</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Under no circumstances will Guia be liable to You for any indirect, incidental, consequential, special or exemplary damages arising from any provision of this Agreement or from the provision of any tours or other services purchased from the Application. Furthermore, the TOTAL liability of Guia arising with respect to this Agreement and the Application shall in no event exceed the total amounts paid by You to Guia under this Agreement.</p>
        </div>
    </div> 

    <div class="content-body">
        <div class="left-align">
            <h5>14. <span class="guia-color">Notice</span></h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Any notice or other communication to be given hereunder will be in writing and given by facsimile, postpaid registered or certified mail return receipt requested, or electronic mail.</p>
        </div>
    </div> 

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Privacy Policy</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia is committed to maintaining your privacy. Guia gathers certain types of information about you as part of our operations. This Privacy Policy explains the types of information we gather, what we do with it and how you may correct or change that information.</p>
        </div>
    </div>     

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Information Collected by Guia</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia collects two types of information about you - personal information (such as name and e-mail address) and aggregate information (such as information about how many users visit our site).</p>
        </div>
    </div>  

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Personal Information</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>When you voluntarily register an account with us through login with facebook facility Guia provides, you will transfer personal information to us, such as your name, address, date of birth, phone number and e-mail address, information relating to booked activities and other data needed to provide services to you. By registering your account, you provide consent for us to send you messages and documents through electronic means. We will only require the minimum personal information we need and use it only to provide the services you have requested.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Message Conversations Sent</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia provides a method for Traveler to Guide communication and vice-versa on our system. We may monitor these messages for the purpose of ensuring that you are properly served by our guides and to ensure compliance with the terms and conditions of Guia.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Information used for statistical and similar purposes</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>We may collect aggregate information about overall user's activities online such as the number of unique visitors, tours created and booked, reviews and ratings given. </p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>We use this information for statistical purposes, to improve your experience on the Application, to make it easier to use, to better tailor it to your interests and needs, or to speed up your future activities and experience. We use this information anonymously and in the aggregate.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Links to Third Parties</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>This site may contain links to sites other than our own and those sites may not follow the same privacy policies as Guia. If you visit other sites by clicking on a link from our site, you should determine their privacy policies before using their information or services.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Correcting and Updating Information</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia provides you with the ability to change and modify information previously provided. </p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Storage time</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>We store personal information for as long as reasonably required for its purpose. Account information is deleted when you or when we delete your account. We may store information longer for legitimate business reasons (for example, personal information may remain in backups for a reasonable period of time), or as legally required.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <h5 class="guia-color">Additional Information</h5>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>No one can guarantee that transmission of data over the Internet is completely secure. It may be possible for third parties to unlawfully intercept or access transmissions or private communication. While we strive to protect your personal information, Guia cannot warrant the security of any information you transmit to us and we shall not be liable for any special, incidental or consequential damages you may suffer in the event that your transmission of data was intercepted.</p>
        </div>
    </div>

    <div class="content-body">
        <div class="left-align">
            <p>Guia reserves the right to change this Privacy Policy at any time. Any such changes will be posted online.</p>
        </div>
    </div>

    <div class="content-footer">
        <div class="left-align">
            <p>Please contact us via e-mail at info@guia.com.ph if you have any questions or concerns about our Privacy Policy. </p>
        </div>
    </div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/js/jquery.timeago.min.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/js/prism.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/bin/materialize.js"></script>
<script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/js/init.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="/public/app/app.index.js"></script>
<script src="/public/app/controllers/Subscriber.js"></script>
<script src="/public/app/services/subscriberService.js"></script>

</body>
</html>