nav{
	background: #fff !important;
}

.signup-container .row{
	margin: 0px !important;
}

.email-input{
	width: 40% !important;
	background: #fff !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	border-radius: 2px !important;
	border: 2px solid #fff !important;
}

.email-input:focus{
	border: 2px solid #61e24c !important;
}


.header-brand-logo{
	margin: 15px;
	height: 32px;
	width: 32px;
}

.container .nav-wrapper .brand-logo{
	color: #363635 !important;
}

.header-parallax-top{
	height: 100% !important;
	background: rgba(0,0,0,0.4);
}

.header-parallax-bottom{
	background: rgba(0,0,0,0.4);
}

.header{
	color: #fff !important;
}

.center-wrapper{
	margin-top: 15% !important;
	margin-bottom: 20% !important;
}

.header-feature-section{
	text-align: center;
	color: #363635 !important;
}

.btn{
	background: #61e24c !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
}

.grey-text{
	text-align: center !important;
}

.header-team{
	text-align: left;
	color: #61e24c !important;
}

.header-team-text{
	text-align: left;
}

.feature-icon{
	color: #ccc !important;
	font-size: 4rem;
	margin-left: 40%;
}

.footer-section{
	background: #61e24c !important;
}

.select-statistics{
	width:200px;
}