<!DOCTYPE html>
<html ng-app="album">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/css/prism.css" rel="stylesheet"/>
    <link href="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="icon" href="http://res.cloudinary.com/whaangbuu/image/upload/v1447916187/favicon_qs9fj0.ico"/>
    <link rel="stylesheet" type="text/css" href="photo-album.css">
    <title>Album</title>
    <base href="/">
</head>

<body ng-controller="AlbumController">

    <div class="header-logo-card">
        <div class="valign-wrapper row">
                <img src="img/guia-inline.png" class="responsive-img">
        </div>
    </div>



    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 400px; overflow: hidden; visibility: hidden; background-color: #24262e;">
            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 800px; height: 456px; overflow: hidden;">
                <div data-p="144.50" style="display: none;">
                    <img class="img" ng-repeat="slide in album.images track by $index" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                 ng-hide="!isCurrentSlideIndex($index)" data-u="image" ng-src="{{slide}}" />
                    <a class="arrow prev" ng-click="nextSlide()"></a>
                    <a class="arrow next" ng-click="prevSlide()"></a>
                </div>

            </div>
        </div>
    </div>

    <div class="valign-wrapper user-info-card">
        <div class="row center-align">
            <img class="circle" ng-src="{{album.user.profImage}}">
            <h5 class="green-text">{{album.album_name}}</h5>
            <h6>{{album.description}}</h6>
            <p>{{album.user.name}} <span class="green-text">{{album.created | date:'MMMM d, yyyy'}}</span></p>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script src="https://cdn.goodwillwa.org/vendor/materialize/0.95.1/bin/materialize.js"></script>
    <script type="text/javascript" src="js/jssor.slider.mini.js"></script>
    <script type="text/javascript" src="photo-album.js"></script>
    <script src="albumService.js"></script>
    <script src="album.js"></script>
    <!-- #endregion Jssor Slider End -->
</body>
</html>
