<div class="dashboard-card" ng-controller="RewardController as reward">
    <h5>Add Reward</h5>
    <div class="input-field">
        <input type="text" id="reward" class="validate"/>
        <label for="reward">Reward</label>
    </div>
    <button class="waves-effect waves-light btn green">{{reward.setReward}}</button>
</div>

<div class="dashboard-card">
    <table class="striped responsive-table">
        <thead>
        <tr>
            <th data-field="city">City</th>
            <th data-field="activity">Activity</th>
            <th data-field="action">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Bohol</td>
            <td>Trek</td>
            <td><button class="waves-effect waves-light btn green">Activated</button></td>
        </tr>
        <tr>
            <td>Palawan</td>
            <td>Underground River</td>
            <td><button class="waves-effect waves-light btn red">Deactivated</button></td>
        </tr>
        <tr>
            <td>Lapu Lapu</td>
            <td>Cycling</td>
            <td><button class="waves-effect waves-light btn green">Activated</button></td>
        </tr>
        </tbody>
    </table>
</div>