<div class="dashboard-card">
		<h5>Add Preference</h5>
		Preferences: 
        <div>
            <span class="btn green pref-card">Street party</span>
            <span class="btn green pref-card">Clubs</span>
            <span class="btn green pref-card">Treks</span>
            <span class="btn green pref-card">Mountain Climbing</span>
        </div>
        <div class="input-field">
            <input type="text" id="preference" class="validate">
            <label for="preference">Preference</label>
        </div>
		<button class="waves-effect waves-light btn green">Set preference</button>
</div>