<div class="dashboard-card" ng-controller="DashboardController">
    <h5>Add Preference</h5>
    <div class="input-field">
        <input type="text" id="preference" class="validate" name="preference" ng-model="preferenceData.preference">
        <label for="preference">Preference</label>
    </div>
    <button class="waves-effect waves-light btn green" ng-click="addPreference()">Set preference</button>
</div>

<div class="dashboard-card">
    <table class="striped responsive-table">
        <thead>
        <tr>
            <th data-field="preference">Preference</th>
            <th data-field="action">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Street Party</td>
            <td><button class="waves-effect waves-light btn green">Activated</button></td>
        </tr>
        <tr>
            <td>Club</td>
            <td><button class="waves-effect waves-light btn red">Deactivated</button</td>
        </tr>
        <tr>
            <td>Mountain Climbing</td>
            <td><button class="waves-effect waves-light btn green">Activated</button</td>
        </tr>
        </tbody>
    </table>
</div>