<div ng-controller="PreferenceController as _preference">
    <div class="loader-container" align="center" ng-if="_preference.guiaPreloader">
        <img src="views/images/guia-loader.gif" alt="Loader"/>
    </div>
    <div class="dashboard-card" ng-if="_preference.preferenceTable">
        <div class="dashboard-card-header green">
            <h6 class="white-text bold">Add New Preference</h6>
        </div>
        <div class="dashboard-card-body">
            <form ng-submit="_preference.addPreference()">
                <div class="input-field">
                    <input type="text" id="preference" class="validate" ng-model="_preference.preferenceData.preference">
                    <label for="preference">Preference</label>
                </div>
                <button id='set_preference' class="waves-effect waves-light btn green white-text">Set preference</button>
            </form>
        </div>
    </div>

    <div class="dashboard-card" ng-if="_preference.preferenceTable">
        <div class="dashboard-card-header green">
            <h6 class="white-text bold">Preference List</h6>
        </div>
        <div class="dashboard-card-body">
            <div class="dashboard-card">
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th data-field="preference">Preference</th>
                        <th data-field="action">Action </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="preference in _preference.preferences | reverse" onclick="update_pref();" ng-click="_preference.getPreferenceInfo(preference._id,preference.preference)">
                        <td>
                            {{ preference.preference }}
                        </td>
                        <td>
                            <div>
                                <button ng-if="preference.isActivated == false" class="waves-effect waves-light btn green" ng-click="_preference.activatePreference(preference._id, !preference.isActivated); preference.isActivated = !preference.isActivated">Activate</button>
                                <button ng-if="preference.isActivated == true" class="waves-effect waves-light btn red" ng-click="_preference.activatePreference(preference._id, !preference.isActivated); preference.isActivated = !preference.isActivated">Deactivate</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div id="myModal" class="modal hide fade" style="padding: 20px;">
                    <div class="modal-header">
                        <h5 id="myModalLabel">Update Preference</h5>
                    </div>
                    <div class="modal-body">
                        <input type='text' id='id'  value='' ng-model="_preference.preferenceData._id" hidden>
                        <input type="text" ng-model="_preference.preferenceData.preference" >
                    </div>
                    <div class="modal-footer">
                        <button class="btn green" onClick="closeModal();" >Close</button>
                        <button class="btn green btn-primary" onClick="closeModal();" ng-click="_preference.updatePreference(_preference.preferenceData._id, _preference.preferenceData.preference);" style="margin-right: 20px;" >Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#preference').on('change keydown keyup paste input keypress', function(){
            var input =document.getElementById('preference').value;
            if(input !== ''){
                $('#set_preference').prop('disabled',false);
            }
            else{
                $('#set_preference').prop('disabled',true);
            }
        })

        function update_pref()
        {
            console.log($('a').html());
            $('#myModal').openModal();
        }

        function closeModal()
        {
            $('#myModal').closeModal();
            window.location.reload();
        }
    </script>
</div>