<div ng-controller="UserController as user">
    <div class="loader-container" align="center" ng-if="user.guiaPreloader">
        <img src="views/images/guia-loader.gif" alt="Loader"/>
    </div>
    <div class="dashboard-card" ng-if="user.userTable">
        <div class="dashboard-card-header green">
            <h6 class="white-text bold">Activated Guides</h6>
        </div>
        <div class="dashboard-card-body">
            <table class="striped responsive-table" >
                <thead>
                <tr>
                    <th class="green-text" data-field="availguideID">Email Address</th>
                    <th class="green-text" data-field="availguideID">Contact Number</th>
                    <th class="green-text" data-field="availguideID">Type</th>
                    <th class="green-text" data-field="availguideID">Status</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="guide in user.guides | reverse | filter:search">
                    <td>
                        <div class="input-field">
                            {{guide.email_address}}
                        </div>
                    </td>

                    <td>
                        <div class="input-field">
                            {{guide.contact_number}}
                        </div>
                    </td>

                    <td>
                        <div class="input-field">
                            {{guide.type}}
                        </div>
                    </td>

                    <td>
                        <div class="input-field">
                            <p ng-if="guide.isActivated == true">Activated</p>
                            <p ng-if="guide.isActivated == false">Deactivated</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard-card" ng-if="user.userTable">
        <div class="dashboard-card-header green">
            <h6 class="white-text bold">Guide Applicants</h6>
        </div>
        <div class="dashboard-card-body">
            <table class="striped centered responsive-table">
                <thead>
                <tr>
                    <th class="green-text" data-field="guideid">Email</th>
                    <th class="green-text" data-field="guideid">Contact Number</th>
                    <th class="green-text" data-field="action">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="guide in user.guides | reverse | filter:search">

                    <td>
                        <div class="input-field">
                            {{guide.email_address}}
                        </div>
                    </td>

                    <td>
                        <div class="input-field">
                            {{guide.contact_number}}
                        </div>
                    </td>

                    <td>
                        <button ng-if="guide.isActivated == true" ng-click="user.deactivateGuide(guide.guide_user_id, guide._id, !guide.isActivated); guide.isActivated = !guide.isActivated" class="waves-effect waves-light btn red">Deactivate</button>
                        <button ng-if="guide.isActivated == false" ng-click="user.activateGuide(guide.guide_user_id, guide._id, !guide.isActivated); guide.isActivated = !guide.isActivated" class="waves-effect waves-light btn green">Activate</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</div>

